---
---

@import "{{ site.theme }}";
@import "fonts";

* {
 font-family: 'Merriweather' !important; 
}

h1 {
 font-family: 'Merriweather' !important;
}

body {
 font-family: 'Merriweather' !important;
}